body {
    align-items: center;
    background-color: black;
    color: wheat;
    display: flex;
    flex-direction: column;
}

.btn-style {
    display: flex;
    margin: auto;
    background-color: black;
    color: wheat;
}

img {
    width: 250px;
    height: 250px;
}

#choices {
    display: flex;
    gap: 10px;
}

#play {
    white-space: pre;
}

#score {
    display: flex;
    gap: 16px;
}